body {
   
    background-size: cover;
    font-family: fantasy;
    font-weight: bold;
    text-align: center;
}

h1 {
    color: brown;
    margin-top: 100px;
    margin-bottom: 10px;
}

h2 {
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px;
}

button {
   border-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(139, 0, 132);
}

#save-btn {
    background: rgb(0, 100, 100);
}

